@font-face {font-family: "pixflow-font-library";src: url("fonts/pixflow-font-library.woff") format("woff");font-weight: normal;font-style: normal;}
[class^="icon-"], [class*=" icon-"] {font-family: "pixflow-font-library";speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.icon-alpha:before {content: "";}
.icon-brush:before {content: "";}
.icon-point:before {content: "";}
.icon-search5:before {content: "";}
.icon-shopping-cart:before {content: "";}
.icon-bell3:before {content: "";}
.icon-hamburger-menu:before {content: "";}
.icon-zigzag:before {content: "";}
.icon-rating:before {content: "";}
.icon-play-curve:before {content: "";}
.icon-close:before {content: "";}
.icon-shopcart2:before {content: "";}
.icon-search3:before {content: "";}
.icon-notification:before {content: "";}
.icon-Apple:before {content: "";}
.icon-Cherries:before {content: "";}
.icon-Grapes:before {content: "";}
.icon-Tomato:before {content: "";}
.icon-Peach:before {content: "";}
.icon-Brocoli:before {content: "";}
.icon-Oliver:before {content: "";}
.icon-Carrot:before {content: "";}
.icon-Garlic:before {content: "";}
.icon-Lemon:before {content: "";}
.icon-2SeatedSofa:before {content: "";}
.icon-Strawberry:before {content: "";}
.icon-Watermelon:before {content: "";}
.icon-Avocado:before {content: "";}
.icon-Pineapple:before {content: "";}
.icon-Eggplant:before {content: "";}
.icon-Pumpkin:before {content: "";}
.icon-Grains:before {content: "";}
.icon-WorkingDesk:before {content: "";}
.icon-OfficeChair:before {content: "";}
.icon-Paddle:before {content: "";}
.icon-ButcherKnife:before {content: "";}
.icon-ChefKnife:before {content: "";}
.icon-Spoon:before {content: "";}
.icon-Cutlery:before {content: "";}
.icon-Salad:before {content: "";}
.icon-MartiniGlass:before {content: "";}
.icon-Dairy:before {content: "";}
.icon-Meatballs:before {content: "";}
.icon-GlassofWater:before {content: "";}
.icon-BeerPint:before {content: "";}
.icon-Doughnut:before {content: "";}
.icon-FrostedCupcake:before {content: "";}
.icon-TeaInfuser:before {content: "";}
.icon-Teapot:before {content: "";}
.icon-BoilingStew:before {content: "";}
.icon-FryingPan:before {content: "";}
.icon-TeaCup:before {content: "";}
.icon-CoffeeCup:before {content: "";}
.icon-GroceryBag:before {content: "";}
.icon-StrippedIcecream:before {content: "";}
.icon-ConeGelato:before {content: "";}
.icon-HotDog:before {content: "";}
.icon-Hamburger:before {content: "";}
.icon-Taco:before {content: "";}
.icon-FrenchFries:before {content: "";}
.icon-Snowflake:before {content: "";}
.icon-ChristmasTree:before {content: "";}
.icon-ChristmasShopping:before {content: "";}
.icon-Decorations:before {content: "";}
.icon-GingerbreadCookie:before {content: "";}
.icon-Mittens:before {content: "";}
.icon-Cookies:before {content: "";}
.icon-OutdoorLamp:before {content: "";}
.icon-OutdoorLamp2:before {content: "";}
.icon-Toffee:before {content: "";}
.icon-Candy:before {content: "";}
.icon-Jawbreaker:before {content: "";}
.icon-Globe:before {content: "";}
.icon-CozyArmchair:before {content: "";}
.icon-CandyCane:before {content: "";}
.icon-RoomLamp:before {content: "";}
.icon-ElectricHeater:before {content: "";}
.icon-Snowman:before {content: "";}
.icon-GingerbreadHouse:before {content: "";}
.icon-StrawberryJam:before {content: "";}
.icon-Fireplace:before {content: "";}
.icon-Cross:before {content: "";}
.icon-Spider:before {content: "";}
.icon-Skull:before {content: "";}
.icon-SodaCan:before {content: "";}
.icon-Pumpkin2:before {content: "";}
.icon-WashingMachine:before {content: "";}
.icon-King:before {content: "";}
.icon-Cheddar:before {content: "";}
.icon-BarbequeFeast:before {content: "";}
.icon-AddProfiles:before {content: "";}
.icon-SuccessFile:before {content: "";}
.icon-SyncCloud:before {content: "";}
.icon-EditMail:before {content: "";}
.icon-PartyHat:before {content: "";}
.icon-SlicedPizz:before {content: "";}
.icon-Baloons:before {content: "";}
.icon-BathTub:before {content: "";}
.icon-LuckyHorseshoe:before {content: "";}
.icon-BeerKeg:before {content: "";}
.icon-JapanesseSalad:before {content: "";}
.icon-Bread:before {content: "";}
.icon-FlowerPot:before {content: "";}
.icon-Toast:before {content: "";}
.icon-HaunchofMeat:before {content: "";}
.icon-MinecraftBone:before {content: "";}
.icon-Steak:before {content: "";}
.icon-Church:before {content: "";}
.icon-EasterEggs:before {content: "";}
.icon-HotDish:before {content: "";}
.icon-LightBulb:before {content: "";}
.icon-Shrimp:before {content: "";}
.icon-Dices:before {content: "";}
.icon-KitchenGlove:before {content: "";}
.icon-FullMoon:before {content: "";}
.icon-Cards:before {content: "";}
.icon-Microwave:before {content: "";}
.icon-Owl:before {content: "";}
.icon-Fish:before {content: "";}
.icon-ChampagneGlasses:before {content: "";}
.icon-Pie:before {content: "";}
.icon-DopeMix:before {content: "";}
.icon-VacuumCleaner:before {content: "";}
.icon-ChargingBattery:before {content: "";}
.icon-DriveLicense:before {content: "";}
.icon-Rich:before {content: "";}
.icon-Time-Tracking2:before {content: "";}
.icon-Ointment:before {content: "";}
.icon-MovetoTop:before {content: "";}
.icon-MovetoBottom:before {content: "";}
.icon-Expand:before {content: "";}
.icon-Move:before {content: "";}
.icon-PiggyBank:before {content: "";}
.icon-Target:before {content: "";}
.icon-Radar:before {content: "";}
.icon-Internet:before {content: "";}
.icon-Money:before {content: "";}
.icon-CapsuledPills:before {content: "";}
.icon-Coins:before {content: "";}
.icon-Maps:before {content: "";}
.icon-Track:before {content: "";}
.icon-Favorite:before {content: "";}
.icon-Star:before {content: "";}
.icon-Like2:before {content: "";}
.icon-Health:before {content: "";}
.icon-Dislike:before {content: "";}
.icon-CloudSync:before {content: "";}
.icon-CloudDownload:before {content: "";}
.icon-CloudUpload:before {content: "";}
.icon-Cloud:before {content: "";}
.icon-Megaphone:before {content: "";}
.icon-Wi-Fi:before {content: "";}
.icon-Airdrop:before {content: "";}
.icon-ThumbsDown:before {content: "";}
.icon-ThumbsUp:before {content: "";}
.icon-Share:before {content: "";}
.icon-Calculator:before {content: "";}
.icon-Calculator2:before {content: "";}
.icon-TurnOff:before {content: "";}
.icon-Help1:before {content: "";}
.icon-Warning1:before {content: "";}
.icon-Success:before {content: "";}
.icon-Error:before {content: "";}
.icon-VolumeDown:before {content: "";}
.icon-VolumeUp:before {content: "";}
.icon-Down:before {content: "";}
.icon-CD:before {content: "";}
.icon-MusicalNote:before {content: "";}
.icon-MovieCamera:before {content: "";}
.icon-Camera:before {content: "";}
.icon-Movie:before {content: "";}
.icon-Picture2:before {content: "";}
.icon-Video2:before {content: "";}
.icon-Locked3:before {content: "";}
.icon-Profile:before {content: "";}
.icon-Users:before {content: "";}
.icon-Send:before {content: "";}
.icon-Location:before {content: "";}
.icon-Compass:before {content: "";}
.icon-Siri:before {content: "";}
.icon-ONOFFSwitch:before {content: "";}
.icon-Bluetooth:before {content: "";}
.icon-DialPad:before {content: "";}
.icon-Unlink:before {content: "";}
.icon-TrashBin:before {content: "";}
.icon-Layers:before {content: "";}
.icon-Windows:before {content: "";}
.icon-Menu:before {content: "";}
.icon-Hide:before {content: "";}
.icon-View2:before {content: "";}
.icon-Home:before {content: "";}
.icon-Search:before {content: "";}
.icon-Search2:before {content: "";}
.icon-Flag:before {content: "";}
.icon-Vector:before {content: "";}
.icon-ReadingList:before {content: "";}
.icon-Bank:before {content: "";}
.icon-Stamp:before {content: "";}
.icon-Check:before {content: "";}
.icon-TimeisMoney:before {content: "";}
.icon-Store:before {content: "";}
.icon-Cube:before {content: "";}
.icon-Football:before {content: "";}
.icon-PlasteredFoot:before {content: "";}
.icon-Settings:before {content: "";}
.icon-Iphones:before {content: "";}
.icon-Pin:before {content: "";}
.icon-Diamond:before {content: "";}
.icon-Hairpin:before {content: "";}
.icon-Fingerprint:before {content: "";}
.icon-Privacy:before {content: "";}
.icon-Iphone5:before {content: "";}
.icon-TV:before {content: "";}
.icon-iMac:before {content: "";}
.icon-LandscapeIpad:before {content: "";}
.icon-Ipad:before {content: "";}
.icon-OldiMac:before {content: "";}
.icon-GraphPresentation:before {content: "";}
.icon-ChartPresentation:before {content: "";}
.icon-Magnet:before {content: "";}
.icon-Stethoscope:before {content: "";}
.icon-FirstAIdKit:before {content: "";}
.icon-Safety:before {content: "";}
.icon-Wheelchair:before {content: "";}
.icon-PrescriptionFile:before {content: "";}
.icon-Controls3:before {content: "";}
.icon-3DCoordinates:before {content: "";}
.icon-Controls4:before {content: "";}
.icon-SelectObjectSide:before {content: "";}
.icon-Bookmark:before {content: "";}
.icon-Store2:before {content: "";}
.icon-Bookmark2:before {content: "";}
.icon-Flag2:before {content: "";}
.icon-Cashier:before {content: "";}
.icon-USBCable:before {content: "";}
.icon-Badminton:before {content: "";}
.icon-IphoneChargingCable:before {content: "";}
.icon-Clock:before {content: "";}
.icon-Marksmanship:before {content: "";}
.icon-POS:before {content: "";}
.icon-AlarmClock:before {content: "";}
.icon-BaseballBat:before {content: "";}
.icon-Brain:before {content: "";}
.icon-FaxScan:before {content: "";}
.icon-Edit:before {content: "";}
.icon-Cup:before {content: "";}
.icon-World-Wide:before {content: "";}
.icon-Tennis:before {content: "";}
.icon-World-Wide2:before {content: "";}
.icon-IceSkates:before {content: "";}
.icon-Gift:before {content: "";}
.icon-GrowingStats:before {content: "";}
.icon-DecreasingStats:before {content: "";}
.icon-Graph2:before {content: "";}
.icon-Graph3:before {content: "";}
.icon-RollerSkates:before {content: "";}
.icon-SpiralTool:before {content: "";}
.icon-GraphicTabletIntuos:before {content: "";}
.icon-SoccerBall:before {content: "";}
.icon-Volleyball:before {content: "";}
.icon-Baseball:before {content: "";}
.icon-Basketball:before {content: "";}
.icon-PieChart22:before {content: "";}
.icon-InboxFile:before {content: "";}
.icon-LeftSidebar:before {content: "";}
.icon-BandagedFoot:before {content: "";}
.icon-Settings5:before {content: "";}
.icon-Settings8:before {content: "";}
.icon-Bicycle:before {content: "";}
.icon-Down2:before {content: "";}
.icon-Up:before {content: "";}
.icon-Upload:before {content: "";}
.icon-Download:before {content: "";}
.icon-Iphone6:before {content: "";}
.icon-Up2:before {content: "";}
.icon-SpeedDial:before {content: "";}
.icon-Whistle:before {content: "";}
.icon-PingPong:before {content: "";}
.icon-Safebox:before {content: "";}
.icon-Stopwatch:before {content: "";}
.icon-InvestmentStock:before {content: "";}
.icon-Medal:before {content: "";}
.icon-SNESController:before {content: "";}
.icon-File:before {content: "";}
.icon-Checklist:before {content: "";}
.icon-OpenFolder:before {content: "";}
.icon-Binder:before {content: "";}
.icon-Chess:before {content: "";}
.icon-Darts:before {content: "";}
.icon-Fantasia:before {content: "";}
.icon-Bowling:before {content: "";}
.icon-FullWallet:before {content: "";}
.icon-Moon:before {content: "";}
.icon-OpenSign:before {content: "";}
.icon-Sunny:before {content: "";}
.icon-GasLamp:before {content: "";}
.icon-OlympicFlare:before {content: "";}
.icon-Resumee:before {content: "";}
.icon-Sunglasses:before {content: "";}
.icon-BusinessBriefcase:before {content: "";}
.icon-Sunset:before {content: "";}
.icon-Spaceship:before {content: "";}
.icon-ExoticIsland:before {content: "";}
.icon-HockeyClubs:before {content: "";}
.icon-Marshmallows:before {content: "";}
.icon-ScanBarcode:before {content: "";}
.icon-SpaceshipLaunchPad:before {content: "";}
.icon-Campfire:before {content: "";}
.icon-UFO:before {content: "";}
.icon-OutdoorCamera:before {content: "";}
.icon-UnprotectedSystem:before {content: "";}
.icon-ProtectedSystem:before {content: "";}
.icon-6Pack:before {content: "";}
.icon-ChatConversation:before {content: "";}
.icon-ChatConversation2:before {content: "";}
.icon-ChatConversation4:before {content: "";}
.icon-Stroller:before {content: "";}
.icon-Xylophone:before {content: "";}
.icon-WoodenCrate22:before {content: "";}
.icon-Yachting:before {content: "";}
.icon-XboxRemote:before {content: "";}
.icon-Turntable2:before {content: "";}
.icon-Kayaking:before {content: "";}
.icon-SegagenesisController:before {content: "";}
.icon-ShowMicrophone:before {content: "";}
.icon-21:before {content: "";}
.icon-PS2Controller:before {content: "";}
.icon-YogaBall:before {content: "";}
.icon-BasketballPanel:before {content: "";}
.icon-DocumentFolder:before {content: "";}
.icon-Playstation1:before {content: "";}
.icon-Podium:before {content: "";}
.icon-Suitcase:before {content: "";}
.icon-Triangle:before {content: "";}
.icon-CalendarEvent:before {content: "";}
.icon-GameboyAdvance:before {content: "";}
.icon-Whatsapp:before {content: "";}
.icon-BasketballJersey:before {content: "";}
.icon-Plane:before {content: "";}
.icon-PriceTag:before {content: "";}
.icon-Tricycle:before {content: "";}
.icon-HikingBackpack:before {content: "";}
.icon-BathDuckling:before {content: "";}
.icon-Pacifier:before {content: "";}
.icon-PriceTag2:before {content: "";}
.icon-FootballJersey:before {content: "";}
.icon-GypsyTambourine:before {content: "";}
.icon-Cruise:before {content: "";}
.icon-MoneySuitcase:before {content: "";}
.icon-OutdoorStove:before {content: "";}
.icon-Briefcase:before {content: "";}
.icon-PhoneEncryption:before {content: "";}
.icon-PS4:before {content: "";}
.icon-SearchFIle:before {content: "";}
.icon-SummerRain:before {content: "";}
.icon-SwissArmyKnife:before {content: "";}
.icon-Mountainside:before {content: "";}
.icon-Suitcase2:before {content: "";}
.icon-ExpandWindow2:before {content: "";}
.icon-MildlyRottenPremolar:before {content: "";}
.icon-Nintendo64:before {content: "";}
.icon-RetrieveCard:before {content: "";}
.icon-ToyTrain:before {content: "";}
.icon-AntivirusProtection:before {content: "";}
.icon-FlipboardDocument:before {content: "";}
.icon-FootballJersey2:before {content: "";}
.icon-GypsyTambourine2:before {content: "";}
.icon-InsertCard2:before {content: "";}
.icon-Neptune:before {content: "";}
.icon-Cruise2:before {content: "";}
.icon-Flipboard2:before {content: "";}
.icon-OutdoorStove2:before {content: "";}
.icon-PS42:before {content: "";}
.icon-Saturn:before {content: "";}
.icon-SoccerJersey:before {content: "";}
.icon-Diapazone:before {content: "";}
.icon-SearchFIle2:before {content: "";}
.icon-BoyBodywear:before {content: "";}
.icon-Homer:before {content: "";}
.icon-TeddyBear:before {content: "";}
.icon-CattleSkull:before {content: "";}
.icon-ShoppingCart:before {content: "";}
.icon-Soyuz:before {content: "";}
.icon-ToyRobot:before {content: "";}
.icon-Umbrella:before {content: "";}
.icon-Chat2:before {content: "";}
.icon-Newspaper:before {content: "";}
.icon-Saxophone:before {content: "";}
.icon-Compass2:before {content: "";}
.icon-FireExtinguisher:before {content: "";}
.icon-TheOlympics:before {content: "";}
.icon-Gagarin:before {content: "";}
.icon-ChariotWheel:before {content: "";}
.icon-Blueprint:before {content: "";}
.icon-PriceTag7:before {content: "";}
.icon-SafetyPinclosed:before {content: "";}
.icon-Trombone:before {content: "";}
.icon-BoxingGlove:before {content: "";}
.icon-LogCutting:before {content: "";}
.icon-Ukulele:before {content: "";}
.icon-Skateboard:before {content: "";}
.icon-SolarSystem:before {content: "";}
.icon-SurvivalKnife:before {content: "";}
.icon-Left:before {content: "";}
.icon-Right2:before {content: "";}
.icon-BassGuitar:before {content: "";}
.icon-Luggage:before {content: "";}
.icon-Microphone:before {content: "";}
.icon-SurvivalWatch:before {content: "";}
.icon-Compose2:before {content: "";}
.icon-ElectricGuitar:before {content: "";}
.icon-Lightning:before {content: "";}
.icon-MeteoriteImpact:before {content: "";}
.icon-RotateLandscape:before {content: "";}
.icon-Stopwatch2:before {content: "";}
.icon-Earth3:before {content: "";}
.icon-Mailbox:before {content: "";}
.icon-Capitalize:before {content: "";}
.icon-FishingVest:before {content: "";}
.icon-Key:before {content: "";}
.icon-PingPong2:before {content: "";}
.icon-Binoculars:before {content: "";}
.icon-CowboyHat:before {content: "";}
.icon-Popcorn:before {content: "";}
.icon-SETIDish:before {content: "";}
.icon-WiredPhone:before {content: "";}
.icon-Cimbalom:before {content: "";}
.icon-TakeNotes:before {content: "";}
.icon-SandCastle:before {content: "";}
.icon-Bullets:before {content: "";}
.icon-ShoppingCart3:before {content: "";}
.icon-FlipFlops:before {content: "";}
.icon-Jobs:before {content: "";}
.icon-MoonLander:before {content: "";}
.icon-CommercialSatellite:before {content: "";}
.icon-Ruler:before {content: "";}
.icon-Warning:before {content: "";}
.icon-AddCartContents:before {content: "";}
.icon-Canoe:before {content: "";}
.icon-DrumSet:before {content: "";}
.icon-NativeAmericanBow:before {content: "";}
.icon-Parasailing:before {content: "";}
.icon-Feeder:before {content: "";}
.icon-MailContents:before {content: "";}
.icon-OpenMail:before {content: "";}
.icon-Bills:before {content: "";}
.icon-Sunbed:before {content: "";}
.icon-NeilArmstrong:before {content: "";}
.icon-WindToy:before {content: "";}
.icon-ColtRevolver:before {content: "";}
.icon-Tomahawk:before {content: "";}
.icon-WaterJumping:before {content: "";}
.icon-Mail:before {content: "";}
.icon-Pencial:before {content: "";}
.icon-PhoneMessage:before {content: "";}
.icon-Headphones:before {content: "";}
.icon-Quaver:before {content: "";}
.icon-ReMusicalNote:before {content: "";}
.icon-MusicalNote2:before {content: "";}
.icon-Code:before {content: "";}
.icon-ColorBucket:before {content: "";}
.icon-Forest:before {content: "";}
.icon-Briefcase2:before {content: "";}
.icon-CardioBike:before {content: "";}
.icon-ColorSpray:before {content: "";}
.icon-Ipod:before {content: "";}
.icon-DivingGear:before {content: "";}
.icon-Ruler2:before {content: "";}
.icon-Mountainside3:before {content: "";}
.icon-NativeAmericanTent:before {content: "";}
.icon-Brush:before {content: "";}
.icon-Weight:before {content: "";}
.icon-Trees:before {content: "";}
.icon-Cabin:before {content: "";}
.icon-Code2:before {content: "";}
.icon-ColorPallette:before {content: "";}
.icon-CrossroadsSigns:before {content: "";}
.icon-ColorEyedropper:before {content: "";}
.icon-HuntingLodge:before {content: "";}
.icon-facebook4:before {content: "";}
.icon-twitter-old:before {content: "";}
.icon-share:before {content: "";}
.icon-feed4:before {content: "";}
.icon-bird:before {content: "";}
.icon-chat3:before {content: "";}
.icon-phone4:before {content: "";}
.icon-phone5:before {content: "";}
.icon-monitor:before {content: "";}
.icon-laptop2:before {content: "";}
.icon-modem:before {content: "";}
.icon-hdd:before {content: "";}
.icon-keyboard:before {content: "";}
.icon-mouse:before {content: "";}
.icon-floppy:before {content: "";}
.icon-camera5:before {content: "";}
.icon-pictures2:before {content: "";}
.icon-eye4:before {content: "";}
.icon-camera6:before {content: "";}
.icon-volume:before {content: "";}
.icon-radio:before {content: "";}
.icon-cassette:before {content: "";}
.icon-broadcast2:before {content: "";}
.icon-cog3:before {content: "";}
.icon-search2:before {content: "";}
.icon-zoomout3:before {content: "";}
.icon-zoomin3:before {content: "";}
.icon-binocular:before {content: "";}
.icon-location2:before {content: "";}
.icon-pin2:before {content: "";}
.icon-quote4:before {content: "";}
.icon-clipboard:before {content: "";}
.icon-clipboard2:before {content: "";}
.icon-gift:before {content: "";}
.icon-settings2:before {content: "";}
.icon-support:before {content: "";}
.icon-medicine:before {content: "";}
.icon-cone:before {content: "";}
.icon-info:before {content: "";}
.icon-drink2:before {content: "";}
.icon-lollipop:before {content: "";}
.icon-heart2:before {content: "";}
.icon-lightning3:before {content: "";}
.icon-gaspump:before {content: "";}
.icon-tree:before {content: "";}
.icon-leaf:before {content: "";}
.icon-flower:before {content: "";}
.icon-direction:before {content: "";}
.icon-thumbsup:before {content: "";}
.icon-thumbsdown:before {content: "";}
.icon-arrow-up3:before {content: "";}
.icon-arrow-down3:before {content: "";}
.icon-arrow-left3:before {content: "";}
.icon-arrow-right3:before {content: "";}
.icon-arrow-top-right:before {content: "";}
.icon-arrow-top-left:before {content: "";}
.icon-arrow-bottom-right:before {content: "";}
.icon-arrow-bottom-left:before {content: "";}
.icon-tv2:before {content: "";}
.icon-trashcan:before {content: "";}
.icon-umbrella:before {content: "";}
.icon-printer:before {content: "";}
.icon-laptop:before {content: "";}
.icon-desktop:before {content: "";}
.icon-tablet:before {content: "";}
.icon-phone2:before {content: "";}
.icon-mobile:before {content: "";}
.icon-camera2:before {content: "";}
.icon-profile-male:before {content: "";}
.icon-profile-female:before {content: "";}
.icon-layers3:before {content: "";}
.icon-basket:before {content: "";}
.icon-envelope:before {content: "";}
.icon-twitter4:before {content: "";}
.icon-rss:before {content: "";}
.icon-tumblr3:before {content: "";}
.icon-linkedin2:before {content: "";}
.icon-cancel3:before {content: "";}
.icon-checkmark2:before {content: "";}
.icon-cancel5:before {content: "";}
.icon-checkmark4:before {content: "";}
.icon-heart3:before {content: "";}
.icon-cloud3:before {content: "";}
.icon-star:before {content: "";}
.icon-trash:before {content: "";}
.icon-search:before {content: "";}
.icon-bubble:before {content: "";}
.icon-like:before {content: "";}
.icon-world:before {content: "";}
.icon-settings:before {content: "";}
.icon-pen:before {content: "";}
.icon-diamond:before {content: "";}
.icon-location:before {content: "";}
.icon-paperplane:before {content: "";}
.icon-params:before {content: "";}
.icon-banknote:before {content: "";}
.icon-study:before {content: "";}
.icon-lab:before {content: "";}
.icon-number:before {content: "";}
.icon-number2:before {content: "";}
.icon-number3:before {content: "";}
.icon-number4:before {content: "";}
.icon-number5:before {content: "";}
.icon-number6:before {content: "";}
.icon-number7:before {content: "";}
.icon-number8:before {content: "";}
.icon-number9:before {content: "";}
.icon-number10:before {content: "";}
.icon-quote2:before {content: "";}
.icon-quote3:before {content: "";}
.icon-th-small:before {content: "";}
.icon-th-menu:before {content: "";}
.icon-th-list:before {content: "";}
.icon-th-large:before {content: "";}
.icon-leaf2:before {content: "";}
.icon-feather:before {content: "";}
.icon-plane-outline:before {content: "";}
.icon-microphone-outline:before {content: "";}
.icon-chevron-right2:before {content: "";}
.icon-chevron-left2:before {content: "";}
.icon-arrow-right-thick:before {content: "";}
.icon-arrow-left-thick:before {content: "";}
.icon-arrow-up-thick:before {content: "";}
.icon-arrow-down-thick:before {content: "";}
.icon-minus5:before {content: "";}
.icon-plus7:before {content: "";}
.icon-backspace:before {content: "";}
.icon-eye3:before {content: "";}
.icon-paper-clip:before {content: "";}
.icon-mail:before {content: "";}
.icon-toggle:before {content: "";}
.icon-layout:before {content: "";}
.icon-link2:before {content: "";}
.icon-bell:before {content: "";}
.icon-lock:before {content: "";}
.icon-unlock:before {content: "";}
.icon-ribbon:before {content: "";}
.icon-image:before {content: "";}
.icon-signal:before {content: "";}
.icon-target:before {content: "";}
.icon-clipboard3:before {content: "";}
.icon-clock:before {content: "";}
.icon-watch:before {content: "";}
.icon-air-play:before {content: "";}
.icon-camera4:before {content: "";}
.icon-video:before {content: "";}
.icon-printer2:before {content: "";}
.icon-monitor2:before {content: "";}
.icon-server:before {content: "";}
.icon-cog4:before {content: "";}
.icon-heart4:before {content: "";}
.icon-paragraph:before {content: "";}
.icon-align-justify2:before {content: "";}
.icon-align-left:before {content: "";}
.icon-align-center:before {content: "";}
.icon-align-right:before {content: "";}
.icon-book:before {content: "";}
.icon-layers4:before {content: "";}
.icon-stack:before {content: "";}
.icon-stack-2:before {content: "";}
.icon-paper:before {content: "";}
.icon-paper-stack:before {content: "";}
.icon-search4:before {content: "";}
.icon-zoom-in:before {content: "";}
.icon-zoom-out:before {content: "";}
.icon-reply:before {content: "";}
.icon-circle-plus:before {content: "";}
.icon-circle-minus:before {content: "";}
.icon-circle-check:before {content: "";}
.icon-circle-cross:before {content: "";}
.icon-square-plus:before {content: "";}
.icon-square-minus:before {content: "";}
.icon-square-check:before {content: "";}
.icon-square-cross:before {content: "";}
.icon-microphone:before {content: "";}
.icon-record2:before {content: "";}
.icon-skip-back:before {content: "";}
.icon-rewind:before {content: "";}
.icon-play2:before {content: "";}
.icon-pause2:before {content: "";}
.icon-stop2:before {content: "";}
.icon-fast-forward:before {content: "";}
.icon-skip-forward:before {content: "";}
.icon-shuffle:before {content: "";}
.icon-repeat:before {content: "";}
.icon-folder:before {content: "";}
.icon-umbrella2:before {content: "";}
.icon-moon2:before {content: "";}
.icon-thermometer2:before {content: "";}
.icon-drop:before {content: "";}
.icon-sun4:before {content: "";}
.icon-cloud4:before {content: "";}
.icon-cloud-upload:before {content: "";}
.icon-cloud-download:before {content: "";}
.icon-upload:before {content: "";}
.icon-download:before {content: "";}
.icon-location3:before {content: "";}
.icon-location-2:before {content: "";}
.icon-map:before {content: "";}
.icon-battery:before {content: "";}
.icon-head:before {content: "";}
.icon-briefcase:before {content: "";}
.icon-speech-bubble:before {content: "";}
.icon-anchor:before {content: "";}
.icon-globe:before {content: "";}
.icon-box:before {content: "";}
.icon-reload:before {content: "";}
.icon-share3:before {content: "";}
.icon-marquee:before {content: "";}
.icon-marquee-plus:before {content: "";}
.icon-marquee-minus:before {content: "";}
.icon-tag:before {content: "";}
.icon-power:before {content: "";}
.icon-command:before {content: "";}
.icon-alt:before {content: "";}
.icon-esc:before {content: "";}
.icon-bar-graph:before {content: "";}
.icon-bar-graph-2:before {content: "";}
.icon-pie-graph:before {content: "";}
.icon-star2:before {content: "";}
.icon-arrow-left4:before {content: "";}
.icon-arrow-right7:before {content: "";}
.icon-arrow-up4:before {content: "";}
.icon-arrow-down4:before {content: "";}
.icon-volume2:before {content: "";}
.icon-mute:before {content: "";}
.icon-content-right:before {content: "";}
.icon-content-left:before {content: "";}
.icon-grid2:before {content: "";}
.icon-grid-2:before {content: "";}
.icon-columns:before {content: "";}
.icon-loader:before {content: "";}
.icon-bag:before {content: "";}
.icon-ban:before {content: "";}
.icon-flag:before {content: "";}
.icon-trash2:before {content: "";}
.icon-expand:before {content: "";}
.icon-contract:before {content: "";}
.icon-maximize:before {content: "";}
.icon-minimize:before {content: "";}
.icon-plus5:before {content: "";}
.icon-minus6:before {content: "";}
.icon-check:before {content: "";}
.icon-cross:before {content: "";}
.icon-move:before {content: "";}
.icon-delete:before {content: "";}
.icon-menu3:before {content: "";}
.icon-archive:before {content: "";}
.icon-inbox:before {content: "";}
.icon-outbox:before {content: "";}
.icon-file:before {content: "";}
.icon-file-add:before {content: "";}
.icon-file-subtract:before {content: "";}
.icon-help:before {content: "";}
.icon-open:before {content: "";}
.icon-ellipsis:before {content: "";}
.icon-basecamp:before {content: "";}
.icon-behance:before {content: "";}
.icon-creative-cloud:before {content: "";}
.icon-dropbox:before {content: "";}
.icon-evernote:before {content: "";}
.icon-flattr:before {content: "";}
.icon-foursquare:before {content: "";}
.icon-google-drive:before {content: "";}
.icon-google-hangouts:before {content: "";}
.icon-grooveshark:before {content: "";}
.icon-icloud:before {content: "";}
.icon-mixi:before {content: "";}
.icon-onedrive:before {content: "";}
.icon-paypal:before {content: "";}
.icon-picasa:before {content: "";}
.icon-qq:before {content: "";}
.icon-rdio-with-circle:before {content: "";}
.icon-renren:before {content: "";}
.icon-scribd:before {content: "";}
.icon-sina-weibo:before {content: "";}
.icon-slideshare:before {content: "";}
.icon-smashing:before {content: "";}
.icon-spotify:before {content: "";}
.icon-swarm:before {content: "";}
.icon-vine:before {content: "";}
.icon-vk:before {content: "";}
.icon-xing:before {content: "";}
.icon-yelp:before {content: "";}
.icon-facebook:before {content: "";}
.icon-google:before {content: "";}
.icon-instagram:before {content: "";}
.icon-lastfm:before {content: "";}
.icon-linkedin:before {content: "";}
.icon-tumblr:before {content: "";}
.icon-play:before {content: "";}
.icon-pause:before {content: "";}
.icon-record:before {content: "";}
.icon-stop:before {content: "";}
.icon-next:before {content: "";}
.icon-previous:before {content: "";}
.icon-first:before {content: "";}
.icon-last:before {content: "";}
.icon-github6:before {content: "";}
.icon-flickr5:before {content: "";}
.icon-twitter5:before {content: "";}
.icon-facebook5:before {content: "";}
.icon-googleplus6:before {content: "";}
.icon-pinterest3:before {content: "";}
.icon-qq2:before {content: "";}
.icon-instagram2:before {content: "";}
.icon-evernote2:before {content: "";}
.icon-renren2:before {content: "";}
.icon-sina-weibo2:before {content: "";}
.icon-paypal4:before {content: "";}
.icon-picasa2:before {content: "";}
.icon-soundcloud3:before {content: "";}
.icon-mixi2:before {content: "";}
.icon-circles:before {content: "";}
.icon-vk2:before {content: "";}
.icon-smashing2:before {content: "";}
.icon-stumbleupon3:before {content: "";}
.icon-lastfm3:before {content: "";}
.icon-earth2:before {content: "";}
.icon-heart32:before {content: "";}
.icon-arrow-right4:before {content: "";}
.icon-arrow-left5:before {content: "";}
.icon-arrow-down5:before {content: "";}
.icon-arrow-up5:before {content: "";}
.icon-arrow-right5:before {content: "";}
.icon-arrow-left6:before {content: "";}
.icon-arrow-down6:before {content: "";}
.icon-arrow-up6:before {content: "";}
.icon-uniE81F:before {content: "";}
.icon-menu2:before {content: "";}
.icon-minus4:before {content: "";}
.icon-plus6:before {content: "";}
.icon-list:before {content: "";}
.icon-arrow-left7:before {content: "";}
.icon-arrow-down7:before {content: "";}
.icon-arrow-up7:before {content: "";}
.icon-arrow-right6:before {content: "";}
.icon-ccw:before {content: "";}
.icon-cw:before {content: "";}
.icon-box2:before {content: "";}
.icon-write:before {content: "";}
.icon-clock2:before {content: "";}
.icon-reply2:before {content: "";}
.icon-reply-all:before {content: "";}
.icon-forward:before {content: "";}
.icon-search22:before {content: "";}
.icon-trash22:before {content: "";}
.icon-envelope2:before {content: "";}
.icon-bubble2:before {content: "";}
.icon-user2:before {content: "";}
.icon-users:before {content: "";}
.icon-cloud23:before {content: "";}
.icon-download2:before {content: "";}
.icon-upload2:before {content: "";}
.icon-rain:before {content: "";}
.icon-sun23:before {content: "";}
.icon-moon22:before {content: "";}
.icon-bell2:before {content: "";}
.icon-folder2:before {content: "";}
.icon-pin:before {content: "";}
.icon-sound:before {content: "";}
.icon-microphone2:before {content: "";}
.icon-camera22:before {content: "";}
.icon-image2:before {content: "";}
.icon-calendar:before {content: "";}
.icon-map-marker:before {content: "";}
.icon-store:before {content: "";}
.icon-support2:before {content: "";}
.icon-tag2:before {content: "";}
.icon-heart22:before {content: "";}
.icon-video-camera:before {content: "";}
.icon-trophy:before {content: "";}
.icon-cart2:before {content: "";}
.icon-eye22:before {content: "";}
.icon-cancel4:before {content: "";}
.icon-chart:before {content: "";}
.icon-target2:before {content: "";}
.icon-printer22:before {content: "";}
.icon-location22:before {content: "";}
.icon-bookmark3:before {content: "";}
.icon-monitor22:before {content: "";}
.icon-cross2:before {content: "";}
.icon-plus22:before {content: "";}
.icon-left2:before {content: "";}
.icon-up2:before {content: "";}
.icon-browser:before {content: "";}
.icon-windows2:before {content: "";}
.icon-switch2:before {content: "";}
.icon-dashboard:before {content: "";}
.icon-play22:before {content: "";}
.icon-fast-forward2:before {content: "";}
.icon-next2:before {content: "";}
.icon-refresh:before {content: "";}
.icon-film:before {content: "";}
.icon-home2:before {content: "";}
.icon-home:before {content: "";}
.icon-pencil:before {content: "";}
.icon-quill:before {content: "";}
.icon-droplet:before {content: "";}
.icon-camera:before {content: "";}
.icon-credit-card:before {content: "";}
.icon-lifebuoy:before {content: "";}
.icon-phone:before {content: "";}
.icon-address-book:before {content: "";}
.icon-undo:before {content: "";}
.icon-redo:before {content: "";}
.icon-user:before {content: "";}
.icon-quotes-left:before {content: "";}
.icon-quotes-right:before {content: "";}
.icon-fire:before {content: "";}
.icon-airplane:before {content: "";}
.icon-switch:before {content: "";}
.icon-power-cord:before {content: "";}
.icon-cloud:before {content: "";}
.icon-link:before {content: "";}
.icon-attachment:before {content: "";}
.icon-eye:before {content: "";}
.icon-bookmark:before {content: "";}
.icon-sun:before {content: "";}
.icon-heart:before {content: "";}
.icon-loop2:before {content: "";}
.icon-share2:before {content: "";}
.icon-feed2:before {content: "";}
.icon-youtube3:before {content: "";}
.icon-twitch:before {content: "";}
.icon-vimeo:before {content: "";}
.icon-wordpress:before {content: "";}
.icon-joomla:before {content: "";}
.icon-tux:before {content: "";}
.icon-apple:before {content: "";}
.icon-finder:before {content: "";}
.icon-windows8:before {content: "";}
.icon-stackoverflow:before {content: "";}
.icon-html5:before {content: "";}
.icon-codepen:before {content: "";}
.icon-chrome:before {content: "";}
.icon-firefox:before {content: "";}
.icon-IE:before {content: "";}
.icon-opera:before {content: "";}
.icon-safari:before {content: "";}
.icon-comment:before {content: "";}
.icon-check-alt:before {content: "";}
.icon-x-altx-alt:before {content: "";}
.icon-plus-alt:before {content: "";}
.icon-plus2:before {content: "";}
.icon-document-alt-stroke:before {content: "";}
.icon-eye2:before {content: "";}
.icon-camera3:before {content: "";}
.icon-left-quote-alt:before {content: "";}
.icon-right-quote-alt:before {content: "";}
.icon-sunrise:before {content: "";}
.icon-sun2:before {content: "";}
.icon-moon:before {content: "";}
.icon-sun22:before {content: "";}
.icon-windy:before {content: "";}
.icon-wind:before {content: "";}
.icon-snowflake:before {content: "";}
.icon-cloudy:before {content: "";}
.icon-cloud2:before {content: "";}
.icon-windy2:before {content: "";}
.icon-snowy:before {content: "";}
.icon-snowy2:before {content: "";}
.icon-snowy3:before {content: "";}
.icon-weather:before {content: "";}
.icon-cloudy2:before {content: "";}
.icon-cloud22:before {content: "";}
.icon-lightning:before {content: "";}
.icon-sun3:before {content: "";}
.icon-snowy4:before {content: "";}
.icon-weather2:before {content: "";}
.icon-cloudy3:before {content: "";}
.icon-lightning2:before {content: "";}
.icon-thermometer:before {content: "";}
.icon-compass:before {content: "";}
.icon-none:before {content: "";}
.icon-Celsius:before {content: "";}
.icon-Fahrenheit:before {content: "";}
.icon-weather3:before {content: "";}
.icon-weather4:before {content: "";}
.icon-weather5:before {content: "";}
.icon-uniF488:before {content: "";}
.icon-uniF489:before {content: "";}
.icon-uniF48A:before {content: "";}
.icon-uniF48B:before {content: "";}
.icon-down:before {content: "";}
.icon-downleft:before {content: "";}
.icon-downright:before {content: "";}
.icon-up:before {content: "";}
.icon-upleft:before {content: "";}
.icon-upright:before {content: "";}
.icon-right:before {content: "";}
.icon-left:before {content: "";}
.icon-psbuttonx:before {content: "";}
.icon-menu:before {content: "";}
.icon-mouse2:before {content: "";}
.icon-uniF639:before {content: "";}
.icon-uniF477:before {content: "";}
.icon-uniF478:before {content: "";}
.icon-uniF479:before {content: "";}
.icon-uniF476:before {content: "";}
.icon-grid:before {content: "";}
.icon-details:before {content: "";}
.icon-thumbnails:before {content: "";}
.icon-quote:before {content: "";}
.icon-post2:before {content: "";}
.icon-layers:before {content: "";}
.icon-layers2:before {content: "";}
.icon-minus2:before {content: "";}
.icon-google2:before {content: "";}
.icon-youtube2:before {content: "";}
.icon-steam:before {content: "";}
.icon-github2:before {content: "";}
.icon-android:before {content: "";}
.icon-windows:before {content: "";}
.icon-paypal3:before {content: "";}
.icon-googleplus:before {content: "";}
.icon-google-drive2:before {content: "";}
.icon-lanyrd:before {content: "";}
.icon-flickr2:before {content: "";}
.icon-skype:before {content: "";}
.icon-reddit:before {content: "";}
.icon-lastfm2:before {content: "";}
.icon-yelp2:before {content: "";}
.icon-file-pdf:before {content: "";}
.icon-file-openoffice:before {content: "";}
.icon-file-word:before {content: "";}
.icon-facebook2:before {content: "";}
.icon-instagram3:before {content: "";}
.icon-picassa:before {content: "";}
.icon-dribbble:before {content: "";}
.icon-forrst:before {content: "";}
.icon-deviantart2:before {content: "";}
.icon-joomla2:before {content: "";}
.icon-blogger:before {content: "";}
.icon-yahoo:before {content: "";}
.icon-tux2:before {content: "";}
.icon-apple2:before {content: "";}
.icon-finder2:before {content: "";}
.icon-delicious:before {content: "";}
.icon-stumbleupon2:before {content: "";}
.icon-stackoverflow2:before {content: "";}
.icon-file-excel:before {content: "";}
.icon-file-zip:before {content: "";}
.icon-file-powerpoint:before {content: "";}
.icon-file-xml:before {content: "";}
.icon-file-css:before {content: "";}
.icon-html52:before {content: "";}
.icon-html522:before {content: "";}
.icon-css3:before {content: "";}
.icon-chrome2:before {content: "";}
.icon-at:before {content: "";}
.icon-copyright:before {content: "";}
.icon-multiply:before {content: "";}
.icon-cursor:before {content: "";}
.icon-circleadd:before {content: "";}
.icon-circledelete:before {content: "";}
.icon-circleselect:before {content: "";}
.icon-elipse:before {content: "";}
.icon-roundedrectangle:before {content: "";}
.icon-polygon:before {content: "";}
.icon-notificationdown:before {content: "";}
.icon-bookmark2:before {content: "";}
.icon-zoomin:before {content: "";}
.icon-zoomout:before {content: "";}
.icon-cmd:before {content: "";}
.icon-cart:before {content: "";}
.icon-cog2:before {content: "";}
.icon-minus3:before {content: "";}
.icon-plus4:before {content: "";}
.icon-cancel:before {content: "";}
.icon-zoomin2:before {content: "";}
.icon-zoomout2:before {content: "";}
.icon-cancel2:before {content: "";}
.icon-arrow-left2:before {content: "";}
.icon-arrow-up2:before {content: "";}
.icon-arrow-right2:before {content: "";}
.icon-arrow-down2:before {content: "";}
.icon-add-circle-1:before {content: "";}
.icon-baby-trolley:before {content: "";}
.icon-banking-donation-2:before {content: "";}
.icon-bin:before {content: "";}
.icon-chat-bubble-square-1:before {content: "";}
.icon-chat-bubble-square-smiley:before {content: "";}
.icon-chef-1:before {content: "";}
.icon-chef-hat:before {content: "";}
.icon-content-book-2:before {content: "";}
.icon-fire-extinguisher:before {content: "";}
.icon-fire-lighter:before {content: "";}
.icon-flash:before {content: "";}
.icon-folder-add:before {content: "";}
.icon-folder-check:before {content: "";}
.icon-folder-close:before {content: "";}
.icon-folder-subtract:before {content: "";}
.icon-food-chicken-drum-stick:before {content: "";}
.icon-food-icecream-2:before {content: "";}
.icon-glass-cocktail-2:before {content: "";}
.icon-graduation-hat:before {content: "";}
.icon-hand-gun:before {content: "";}
.icon-health-prescription-2:before {content: "";}
.icon-helicopter:before {content: "";}
.icon-hotel-bath-shower:before {content: "";}
.icon-id-card-1:before {content: "";}
.icon-key-hole-1:before {content: "";}
.icon-king:before {content: "";}
.icon-lock-1:before {content: "";}
.icon-lock-unlock-1:before {content: "";}
.icon-nature-plant-1:before {content: "";}
.icon-paint-brush-1:before {content: "";}
.icon-places-christ-the-redeemer:before {content: "";}
.icon-places-eiffel-tower:before {content: "";}
.icon-places-home-3:before {content: "";}
.icon-places-taj-mahal:before {content: "";}
.icon-police-officer-1:before {content: "";}
.icon-polo-shirt:before {content: "";}
.icon-quill2:before {content: "";}
.icon-rewards-banner-check:before {content: "";}
.icon-rewards-gift:before {content: "";}
.icon-ring-planet:before {content: "";}
.icon-romance-bow:before {content: "";}
.icon-romance-love-target:before {content: "";}
.icon-romance-relationship:before {content: "";}
.icon-save-water:before {content: "";}
.icon-user-add:before {content: "";}
.icon-user-chat-1:before {content: "";}
.icon-user-check:before {content: "";}
.icon-user-female:before {content: "";}
.icon-user-headphone:before {content: "";}
.icon-video-games-gameboy:before {content: "";}
.icon-video-games-pacman:before {content: "";}
.icon-vote-heart-circle-1:before {content: "";}
.icon-add-circle-12:before {content: "";}
.icon-airplane2:before {content: "";}
.icon-alien-head:before {content: "";}
.icon-android2:before {content: "";}
.icon-baby-trolley2:before {content: "";}
.icon-banking-debit-machine:before {content: "";}
.icon-banking-donation-22:before {content: "";}
.icon-banking-spendings-1:before {content: "";}
.icon-banking-spendings-3:before {content: "";}
.icon-bank-note:before {content: "";}
.icon-battery-charging-1:before {content: "";}
.icon-beaker-science:before {content: "";}
.icon-bin2:before {content: "";}
.icon-binoculars:before {content: "";}
.icon-box-2:before {content: "";}
.icon-building-6:before {content: "";}
.icon-building-10:before {content: "";}
.icon-building-barn:before {content: "";}
.icon-bus-2:before {content: "";}
.icon-business-briefcase-cash:before {content: "";}
.icon-business-whiteboard:before {content: "";}
.icon-calendar-1:before {content: "";}
.icon-camera-1:before {content: "";}
.icon-camera-live-view-off:before {content: "";}
.icon-car-2:before {content: "";}
.icon-castle-1:before {content: "";}
.icon-cc-camera-1:before {content: "";}
.icon-chat-bubble-square-smiley2:before {content: "";}
.icon-check-box:before {content: "";}
.icon-chef-12:before {content: "";}
.icon-chef-hat2:before {content: "";}
.icon-close2:before {content: "";}
.icon-cloud32:before {content: "";}
.icon-cog-box:before {content: "";}
.icon-coin-stack-1:before {content: "";}
.icon-computer-screen-1:before {content: "";}
.icon-content-book-22:before {content: "";}
.icon-couch:before {content: "";}
.icon-data-download-5:before {content: "";}
.icon-data-upload-5:before {content: "";}
.icon-devices:before {content: "";}
.icon-dna:before {content: "";}
.icon-download-computer:before {content: "";}
.icon-eco-field:before {content: "";}
.icon-file-new-1:before {content: "";}
.icon-file-new-2:before {content: "";}
.icon-file-notes-document:before {content: "";}
.icon-file-notes-new:before {content: "";}
.icon-file-office-text:before {content: "";}
.icon-file-tasks-add:before {content: "";}
.icon-file-zipped-new:before {content: "";}
.icon-fire-extinguisher2:before {content: "";}
.icon-flash2:before {content: "";}
.icon-folder-add2:before {content: "";}
.icon-folder-check2:before {content: "";}
.icon-folder-close2:before {content: "";}
.icon-folder-subtract2:before {content: "";}
.icon-food-chicken-drum-stick2:before {content: "";}
.icon-food-double-burger:before {content: "";}
.icon-food-icecream-22:before {content: "";}
.icon-glass-cocktail-22:before {content: "";}
.icon-graduation-hat2:before {content: "";}
.icon-hand-gun2:before {content: "";}
.icon-hand-remote:before {content: "";}
.icon-hat-magician:before {content: "";}
.icon-health-ambulance:before {content: "";}
.icon-health-graph-1:before {content: "";}
.icon-health-heart-pulse:before {content: "";}
.icon-health-hospital-sign-1:before {content: "";}
.icon-health-medicine-bottle:before {content: "";}
.icon-health-prescription-22:before {content: "";}
.icon-helicopter2:before {content: "";}
.icon-hot-air-balloon:before {content: "";}
.icon-hotel-bath-shower2:before {content: "";}
.icon-hotel-bed-1:before {content: "";}
.icon-hotel-shower:before {content: "";}
.icon-hourglass:before {content: "";}
.icon-id-card-12:before {content: "";}
.icon-inbox2:before {content: "";}
.icon-keyboard2:before {content: "";}
.icon-key-hole-12:before {content: "";}
.icon-kitchen-blender:before {content: "";}
.icon-lamp-1:before {content: "";}
.icon-lamp-studio-1:before {content: "";}
.icon-leisure-dj-booth:before {content: "";}
.icon-leisure-rest:before {content: "";}
.icon-location-gps-on-2:before {content: "";}
.icon-location-map-1:before {content: "";}
.icon-location-pin-4:before {content: "";}
.icon-location-pin-check-2:before {content: "";}
.icon-location-user:before {content: "";}
.icon-lock-12:before {content: "";}
.icon-lock-unlock-12:before {content: "";}
.icon-login-check:before {content: "";}
.icon-login-lock:before {content: "";}
.icon-login-wrong:before {content: "";}
.icon-mail-refresh-1:before {content: "";}
.icon-match-stick:before {content: "";}
.icon-monster-truck-1:before {content: "";}
.icon-motorcycle-2:before {content: "";}
.icon-music-note-1:before {content: "";}
.icon-nature-flower-1:before {content: "";}
.icon-nature-plant-12:before {content: "";}
.icon-navigation-before-1:before {content: "";}
.icon-navigation-next-1:before {content: "";}
.icon-network-business:before {content: "";}
.icon-origami-paper-bird:before {content: "";}
.icon-paint-brush-12:before {content: "";}
.icon-paper-pin:before {content: "";}
.icon-paperplane2:before {content: "";}
.icon-pencil-2:before {content: "";}
.icon-pencil-ruler:before {content: "";}
.icon-places-christ-the-redeemer2:before {content: "";}
.icon-places-colosseum:before {content: "";}
.icon-places-eiffel-tower2:before {content: "";}
.icon-places-home-32:before {content: "";}
.icon-places-home-4:before {content: "";}
.icon-places-taj-mahal2:before {content: "";}
.icon-places-warehouse-1:before {content: "";}
.icon-police-officer-12:before {content: "";}
.icon-polo-shirt2:before {content: "";}
.icon-quill22:before {content: "";}
.icon-rechargable-battery:before {content: "";}
.icon-remove-circle-1:before {content: "";}
.icon-rewards-banner-check2:before {content: "";}
.icon-rewards-gift2:before {content: "";}
.icon-rewards-medal-1:before {content: "";}
.icon-rewards-pedestal:before {content: "";}
.icon-rewards-trophy-5:before {content: "";}
.icon-ring-planet2:before {content: "";}
.icon-romance-bow2:before {content: "";}
.icon-romance-love-target2:before {content: "";}
.icon-romance-relationship2:before {content: "";}
.icon-safe:before {content: "";}
.icon-scissors:before {content: "";}
.icon-settings-1:before {content: "";}
.icon-share-megaphone-2:before {content: "";}
.icon-share-radar:before {content: "";}
.icon-share-signal-user:before {content: "";}
.icon-shopping-basket-1:before {content: "";}
.icon-shopping-basket-2:before {content: "";}
.icon-shopping-basket-add:before {content: "";}
.icon-shopping-basket-check:before {content: "";}
.icon-shopping-basket-close:before {content: "";}
.icon-shopping-basket-subtract:before {content: "";}
.icon-sign-toilet:before {content: "";}
.icon-smart-watch-circle-navigation:before {content: "";}
.icon-smiley-dolar:before {content: "";}
.icon-smiley-poker-face:before {content: "";}
.icon-smiley-shy-1:before {content: "";}
.icon-smiley-smile-2:before {content: "";}
.icon-smiley-wink:before {content: "";}
.icon-smiley-worry:before {content: "";}
.icon-spa-lotion:before {content: "";}
.icon-spa-lotus-flower:before {content: "";}
.icon-sport-basketball:before {content: "";}
.icon-sport-bowling:before {content: "";}
.icon-sport-dumbbell-1:before {content: "";}
.icon-sport-football-field:before {content: "";}
.icon-sport-takraw:before {content: "";}
.icon-spray-bottle:before {content: "";}
.icon-star-constellation:before {content: "";}
.icon-subtract-circle-1:before {content: "";}
.icon-sunny:before {content: "";}
.icon-synchronize-1:before {content: "";}
.icon-synchronize-2:before {content: "";}
.icon-tank:before {content: "";}
.icon-temple-2:before {content: "";}
.icon-toilet-roll:before {content: "";}
.icon-travel-beach:before {content: "";}
.icon-travel-camping:before {content: "";}
.icon-travel-globe:before {content: "";}
.icon-umbrella-open:before {content: "";}
.icon-undershirt:before {content: "";}
.icon-underwear:before {content: "";}
.icon-user-add2:before {content: "";}
.icon-user-chat-12:before {content: "";}
.icon-user-check2:before {content: "";}
.icon-user-headphone2:before {content: "";}
.icon-user-heart:before {content: "";}
.icon-user-male:before {content: "";}
.icon-user-subtract:before {content: "";}
.icon-vector-circle:before {content: "";}
.icon-vector-line:before {content: "";}
.icon-vector-square-1:before {content: "";}
.icon-vector-triangle:before {content: "";}
.icon-video-call-1:before {content: "";}
.icon-video-call-mobile-phone:before {content: "";}
.icon-video-camera-3:before {content: "";}
.icon-video-clip-3:before {content: "";}
.icon-video-clip-4:before {content: "";}
.icon-video-control-play:before {content: "";}
.icon-video-games-gameboy2:before {content: "";}
.icon-video-games-pacman2:before {content: "";}
.icon-vote-heart-circle-12:before {content: "";}
.icon-vote-plus-one:before {content: "";}
.icon-vote-thumbs-down:before {content: "";}
.icon-vote-thumbs-up:before {content: "";}
.icon-wallet:before {content: "";}
.icon-warehouse-box:before {content: "";}
.icon-water-droplet:before {content: "";}
.icon-water-tap:before {content: "";}
.icon-water-tower:before {content: "";}
.icon-wind-flag:before {content: "";}
.icon-window:before {content: "";}
.icon-window-programming:before {content: "";}
.icon-airplane22:before {content: "";}
.icon-alien-head2:before {content: "";}
.icon-android22:before {content: "";}
.icon-shopcart:before {content: "";}
.icon-gathermenu:before {content: "";}
.icon-chevron-right:before {content: "";}
.icon-flag2:before {content: "";}
.icon-align-justify:before {content: "";}
.icon-cog:before {content: "";}
.icon-remove:before {content: "";}
.icon-chevron-left:before {content: "";}
.icon-minus:before {content: "";}
.icon-plus:before {content: "";}
.icon-resize-vertical:before {content: "";}
.icon-resize-horizontal:before {content: "";}
.icon-chevron-up:before {content: "";}
.icon-chevron-down:before {content: "";}
.icon-arrow-left:before {content: "";}
.icon-arrow-right:before {content: "";}
.icon-arrow-up:before {content: "";}
.icon-arrow-down:before {content: "";}
.icon-angle-left:before {content: "";}
.icon-angle-right:before {content: "";}
.icon-angle-up:before {content: "";}
.icon-angle-down:before {content: "";}
.icon-caret-left:before {content: "";}
.icon-caret-up:before {content: "";}
.icon-caret-down:before {content: "";}
.icon-caret-right:before {content: "";}
.icon-sort-down:before {content: "";}
.icon-sort-up:before {content: "";}